<head>
  <link rel="element" as="custom-button" href="/system/button.html">
  <link rel="element" as="custom-codearea" href="/system/codearea.html">
  <link rel="element" as="custom-details" href="/system/details.html">
  <link rel="element" as="custom-expander" href="/system/expander.html">
  <link rel="element" as="custom-layout" href="/system/layout.html">
</head>

<custom-layout>
  <main class="mx-auto my-4 overflow-hidden">
    <div class="flex flex-col gap-4 mx-4">
      <h1 class="m-0 overflow-hidden text-ellipsis whitespace-nowrap">
        <slot name="component.title"></slot>
      </h1>
      <nav used-if="component.isEditable" aria-label="Secondary Navigation"
        class="flex flex-wrap gap-x-4 gap-y-2 justify-between">
        <a :href="component.manageHref">Manage component</a>
        <a :hidden="!component.isDraft" :href="component.publishHref">
          Publish changes...
        </a>
      </nav>
    </div>
    <div class="flex flex-wrap items-start gap-4 m-4">
      <custom-details summary="Component Preview">
        <custom-expander>
          <iframe id="component-preview-iframe" :src="component.renderHref"
            class="block border border-gray-500 border-solid box-border h-full w-full"></iframe>
        </custom-expander>
      </custom-details>
      <custom-details summary="Component Template">
        <form id="component-template-form" method="post" :action="component.draftHref" class="mb-0">
          <custom-expander>
            <custom-codearea id="component-template-codearea" language="html" name="template"
              :readonly="!component.isEditable" :value="component.template">
            </custom-codearea>
            <custom-button used-if="component.isEditable" slot="footer">Save</custom-button>
          </custom-expander>
        </form>
      </custom-details>
    </div>
  </main>
</custom-layout>